__pycache__/
*.py[cod]
*.pyc
*$py.class

.DS_Store

.idea/

/instance

recipe_app_psql_details.txt
psqlmanenos.txt

flask_recipe_app-v0.5-9dc597a74eed0e1dde702cf5968f80337d31fd24
flask_recipe_app-v0.5-9dc597a74eed0e1dde702cf5968f80337d31fd24.zip

