{% extends "layout.html" %}
{% from "form_macros.html" import render_field %}

{% block content %}

<div class="user-registration">
  <div class="page-header">
    <h2>Log In</h2>
  </div>
    <form action="{{ url_for('users.login') }}" method="post">
      {{ form.csrf_token }}
      <dl>
        {{ render_field(form.email, placeholder="Email Address") }}
        {{ render_field(form.password, placeholder="Password") }}
      </dl>
      <button class="btn btn-sm btn-success" type="submit">Log In</button>
    </form>
    <br>
    <em>Need an account? </em><a href="/register">Sign Up</a>
  </div>

{% endblock %}