{% extends "layout.html" %}
{% block content %}

<div class="user-profile">
  <div class="page-header">
    <h2>Public Recipes</h2>
  </div>
  
  <table class="table table-striped" id="public_recipes">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in public_recipes %}
      <tr>
        <td><a href="{{url_for('recipes.recipe_details', recipe_id=recipe.id) }}">{{ recipe.recipe_title }}</a></td>
        <td>{{ recipe.recipe_description }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
